<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">
<div class="container mt-5">
    <div class="alert alert-danger">
        <h4 class="alert-heading" th:text="#{error_message}">An Error Occurred</h4>
        <p th:text="${errorMessage}">Something went wrong.</p>
    </div>
    <a href="/" class="btn btn-primary" th:text="#{error_go_to_homepage}">Go to Homepage</a>
</div>
</body>

</html>
