<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Child Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/parent_navbar :: navbar"></div>
<div class="container">
    <h1 th:text="${child.firstName + ' ' + child.lastName} + ' Dashboard'"></h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Grades</h2>
            <a class="btn btn-primary" th:href="@{'/parent/child-grades/' + ${child.userId}}">View Grades</a>
        </div>
        <div class="col-md-6">
            <h2>Teachers</h2>
            <a class="btn btn-primary" th:href="@{'/parent/child-teachers/' + ${child.userId}}">View Teachers</a>
        </div>
    </div>
</div>
</body>
</html>
