<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Teachers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/parent_navbar :: navbar"></div>
<div class="container mt-4">
    <h1>Teachers</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Teacher</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${teachers}">
            <td th:text="${teacher.subject.subjectName}"></td>
            <td th:text="${teacher.firstName + ' ' + teacher.lastName}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
