<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{student_add_grade}">Add Grade</title>
</head>
<body>

<h1 th:text="#{add_grade_for_student}">Add Grade for Student</h1>

<!-- Display error message if it exists -->
<div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}"></p>
</div>

<form th:action="@{/teacher/add-grade}" th:method="post" th:object="${gradeForm}">
    <!-- Hidden input for student ID -->
    <input type="hidden" th:field="*{studentId}" />

    <!-- Display the teacher's subject -->
    <p><strong th:text="#{user_subject}">Subject:</strong> <span th:text="${subject.subjectName}"></span></p>

    <!-- Grade input field -->
    <label for="grade">
        <span th:text="#{student_grade}">Grade:</span>

        <input type="number" id="grade" th:field="*{grade}" step="0.1" placeholder="Enter grade" required />
    </label>

    <!-- Description input field -->
    <label for="description">
        <span th:text="#{grade_description}"> Description:</span>
        <textarea id="description" th:field="*{description}" placeholder="Enter description"></textarea>
    </label>

    <button type="submit" th:text="#{student_add_grade}">Add Grade</button>
</form>
</body>
</html>
