<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{user_all_teachers}">View Teachers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{fragments/teacher_navbar :: navbar}"></div>

<div class="container mt-5">
    <h1 th:text="#{user_all_teachers}">All Teachers</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th th:text="#{user_firstName}">First Name</th>
            <th th:text="#{user_middleName}">Middle Name</th>
            <th th:text="#{user_lastName}">Last Name</th>
            <th th:text="#{user_email}">Email</th>
            <th th:text="#{user_subject}">Subject</th>
            <th th:text="#{user_classes}">Classes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${teachers}">
            <td th:text="${teacher.firstName}"></td>
            <td th:text="${teacher.middleName}"></td>
            <td th:text="${teacher.lastName}"></td>
            <td th:text="${teacher.email}"></td>
            <td th:text="${teacher.subject.subjectName}"></td>
            <td>
                <ul>
                    <li th:each="class : ${teacher.classes}" th:text="${class.grade} + ${class.section}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.10/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
