<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Class</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{fragments/teacher_navbar :: navbar}"></div>

<div class="container mt-5">
    <h1>Class Details</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Grades</th>
            <th>Average Grade</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student, iterStat : ${students}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.middleName}"></td>
            <td th:text="${student.lastName}"></td>
            <td>
                <ul>
                    <li th:each="grade : ${student.grades}" th:text="${grade.grade}"></li>
                </ul>
            </td>
            <td th:text="${#numbers.formatDecimal(student.averageGrade, 1, 2)}"></td>
            <td><a th:href="@{/teacher/add-grade/{id}(id=${student.userId})}" class="btn btn-primary">Add Grade</a></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.10/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
