<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{profile}"> Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:replace="~{fragments/student_navbar :: navbar}"></div>

<div class="container mt-5">
    <h1 th:text="#{profile}">Profile</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="#{user_information}">User Information</h5>
            <p th:text="#{user_username} + ': ' + ${user.username}">Username</p>
            <p th:text="#{user_firstName} + ': ' + ${user.firstName}">First Name: </p>
            <p th:text="#{user_lastName} + ': ' + ${user.lastName}">Last Name: </p>
            <p th:text="#{user_email} + ': ' + ${user.email}">Email: </p>

            <div th:if="${user.classes != null}">
                <p th:text="#{user_class} + ': ' + ${user.classes.grade} + ${user.classes.section}">Class: </p>
            </div>
            <div th:unless="${user.classes != null}">
                <p>No class information available.</p>
            </div>

            <a href="#" class="btn btn-primary" th:href="@{/student/dashboard}" th:text="#{back_to_dashboard}">Back to Dashboard</a>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.10/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
