<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{student_view_my_teachers}">View My Teachers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Include the navbar -->
<div th:replace="~{fragments/student_navbar :: navbar}"></div>

<div class="container mt-4">
    <h1 th:text="#{student_my_class_teachers}">Teachers for My Class</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th th:text="#{user_subject}">Subject</th>
            <th th:text="#{admin_nav_bar_teachers}">Teacher</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="teacher : ${teachers}">
            <td th:text="${teacher.subject.subjectName}"></td>
            <td th:text="${teacher.firstName + ' ' + teacher.lastName}"></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.10/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
