<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/admin-dashboard-style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Include the navbar fragment -->
<div th:replace="fragments/admin_navbar :: navbar"></div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-primary btn-block" th:onclick="'location.href=\'/admin/createStudent\''">Create Student</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-block" th:onclick="'location.href=\'/admin/createTeacher\''">Create Teacher</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-block" th:onclick="'location.href=\'/admin/createParent\''">Create Parent</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-block" th:onclick="'location.href=\'/admin/createClass\''">Create Class</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <button class="btn btn-secondary btn-block" th:onclick="'location.href=\'/admin/viewStudents\''">View Students</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-secondary btn-block" th:onclick="'location.href=\'/admin/viewTeachers\''">View Teachers</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-secondary btn-block" th:onclick="'location.href=\'/admin/viewParents\''">View Parents</button>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.10/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
