<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Subject</title>
    <link rel="stylesheet" href="/css/admin-dashboard-style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Include the navbar fragment -->
<div th:replace="~{fragments/admin_navbar :: navbar}"></div>

<div class="container mt-4">
    <h2 th:text="#{admin_nav_bar_create_subjects}">Create Subject</h2>
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
    <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
    <form th:action="@{/admin/createSubject}" th:method="post">
        <div class="form-group">
            <label for="subjectName"
            th:text="#{admin_nav_bar_subject_name}">Subject Name</label>
            <input type="text" id="subjectName" name="subjectName" class="form-control" th:placeholder="#{enter} + ' ' + #{admin_nav_bar_subject_name}" required>
        </div>
        <button type="submit" class="btn btn-primary"
        th:text="#{admin_nav_bar_create_subjects}">Create Subject</button>
    </form>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.10/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
